html {
	background-color: #093;
	font-family: 'Lora', serif;
	text-align: center;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}

h1 {
	color: white;
	margin-top: 7%;
}

h4 {
	color: black;
}

li {
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	list-style-type: none;
	padding: 1%;
	margin: 1%;
}

ul {
	margin-left: 10%;
	margin-right: 10%;
}

