html {
	background-color: #006600;
	font-family: 'Lora', serif;
	text-align: center;
}

a, a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
}

h1 {
	color: white;
	margin-top: 7%;
}

h4 {
	color: black;
}

li {
	background-color: white;
	list-style-type: none;
	padding: 1%;
	margin: 0.5%;
}

ul {
	margin-left: 10%;
	margin-right: 10%;
}

